*
{
    font-family: Akzidenz-Grotesk,Open Sans,sans-serif;
}

body
{
    background: url(/SV/style/bg-grid.png), linear-gradient(135deg, #f7aa35 0%,#e7395c 100%);
}


#startMessageClickBox
{
    position: absolute;
    width: 98%;
    height: 98%;
    cursor: pointer;
    z-index: 1;
}

#startMessage 
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

#main-wrapper
{
    width: 90%;
    position: relative;
    margin: auto;
    opacity: 0.5;
    margin-left: 6.5%;
}

.white_background, .black_background
{
    position: relative;
    background-color: white;
    padding: 3px 8px 4px 8px;
}
.black_background
{
    background-color: black;
    color: white;
}

#controllers
{
    position: absolute;
    height: 50%;
    width: 100%;
    top: 0;
    left: 0;
}

#wob, #wiggle, #drum, #scan
{
    width: 25%;
    float: left;
}





containerstepsequencer 
{
    width: 86%;
    height: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.5;
    margin-top: 4.8%;
}

toolbarStepSequencer
{
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    float: top;
}

startStopToolbar
{
    flex: 0.09300; /* Width-span of 3 blocks (3 / 32 = 0.09375). */
	margin: 1px;
    float: left;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    cursor: pointer;
}

.start
{
    background-image: url(../../style/start.png);
}

.stop
{
    background-image: url(../../style/stop.png);
}

tempoTextContainerToolbar
{
    flex: 0.14;
    margin: 1px;
    float: left;
    position: relative;
    top: 50%;
    left: 40%;
    transform: translate(-40%, -50%);
}
tempoTextToolbar
{
    width: 100%;
    font-size: 18px;
    position: absolute;
    top: 47%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.tempoSlider
{
    flex: 0.3;
    margin: 1px;
    float: left;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    /* border-radius: 5px;   */
    height: 15%;
}
.tempoSlider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
.tempoSlider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    height: 25px;
    width: 25px;
    background: #000000; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  

.rowDiv
{
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    float: top;
}

.cellDiv
{
    flex: 1;
	margin: 1px;
    float: left;
    background-color: white;
    opacity: 1;
}   

/* .filled
{
    background-color: #000000;
} */

.activeColumn
{
    opacity: 0.6;
}



.soundTrigger
{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #20787c;
    opacity: 0.8;
}


/* #containerStepSequencer 
{
    width: 90%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rowDiv
{
    width: 100%;
    float: top;
}

.cellDiv
{
    margin: 0.1% 0.1%;
    float: left;
    background-color: aquamarine;
}   

.filled
{

} */