#controllers
{
    /* background-color: aqua; */
    position: absolute;
    height: 50%;
    width: 100%;
    top: 0;
    left: 0;
    /* display: flex;
    justify-content: space-around; */
}

#wob
{
    width: 25%;
    float: left;
}
#wiggle
{
    width: 25%;
    float: left;
}
#drum
{
    width: 25%;
    float: left;
}
#scan
{
    width: 25%;
    float: left;
}