*
{
    font-family: Akzidenz-Grotesk,Open Sans,sans-serif;
}

body
{
    background: url(/SV/style/bg-grid.png), linear-gradient(135deg, #f7aa35 0%,#e7395c 100%);
}

#startMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

#main-wrapper
{
    width: 90%;
    position: relative;
    margin: auto;
    opacity: 0.5;
}

.white_background, .black_background
{
    position: relative;
    background-color: white;
    padding: 3px 8px 4px 8px;
}
.black_background
{
    background-color: black;
}

#controllers
{
    position: absolute;
    height: 50%;
    width: 100%;
    top: 0;
    left: 0;
}

#wob, #wiggle, #drum, #scan
{
    width: 25%;
    float: left;
}