*
{
    font-family: Akzidenz-Grotesk,Open Sans,sans-serif;
}

body
{
    background-color: gray;
}

containerstepsequencer 
{
    width: 86%;
    height: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

toolbarStepSequencer
{
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    float: top;
}

startStopToolbar
{
    flex: 0.09300; /* Width-span of 3 blocks (3 / 32 = 0.09375). */
	margin: 1px;
    float: left;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

.start
{
    background-image: url(../../style/start.png);
}

.stop
{
    background-image: url(../../style/stop.png);
}

tempoTextContainerToolbar
{
    flex: 0.14;
    margin: 1px;
    float: left;
    position: relative;
    top: 50%;
    left: 40%;
    transform: translate(-40%, -50%);
}
tempoTextToolbar
{
    width: 100%;
    font-size: 18px;
    position: absolute;
    top: 47%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.tempoSlider
{
    flex: 0.3;
    margin: 1px;
    float: left;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    /* border-radius: 5px;   */
    height: 15%;

}
.tempoSlider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
.tempoSlider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    height: 25px;
    width: 25px;
    background: #000000; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  

.rowDiv
{
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    float: top;
}

.cellDiv
{
    flex: 1;
	margin: 1px;
    float: left;
    background-color: white;
    opacity: 1;
}   

.filled
{
    background-color: #000000;
}

.activeColumn
{
    opacity: 0.5;
}



.soundTrigger
{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: DarkViolet;
    opacity: 0.8;
}


/* #containerStepSequencer 
{
    width: 90%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rowDiv
{
    width: 100%;
    float: top;
}

.cellDiv
{
    margin: 0.1% 0.1%;
    float: left;
    background-color: aquamarine;
}   

.filled
{

} */